<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="TestConnection" connectionString="data source=Database\Test.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.3" connectionString="data source=Database\Question3.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.4" connectionString="data source=Database\Question4.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.5" connectionString="data source=Database\Question5.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.6" connectionString="data source=Database\Question6.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.7" connectionString="data source=Database\Question7.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.8" connectionString="data source=Database\Question8.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.9" connectionString="data source=Database\Question9.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.10" connectionString="data source=Database\Question10.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.11" connectionString="data source=Database\Question11.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.12" connectionString="data source=Database\Question12.db" providerName="System.Data.SqlLite"/>
  </connectionStrings>
  <appSettings>
    <add key="ImageDirectory" value="Images"/>
    <add key="LicenseFile" value="License\license.lic"/>
    <add key="SelectedSkin" value="Office2016WhiteSE"/>
  </appSettings>
</configuration>
