<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="TestConnection" connectionString="data source=..\Database\Test.db" providerName="System.Data.SqlLite"/>
    <add name="SQLiteConnection.3" connectionString="data source=..\Database\Question3.db" providerName="System.Data.SqlLite"/>
  </connectionStrings>
  <appSettings>
    <add key="ImageDirectory" value="D:\Personal\Documents\Images"/>
    <add key="SelectedSkin" value="Office2016WhiteSE"/>
  </appSettings>
</configuration>
